%li.resource
  - if parse_for_image_source(article).present?
    = image_tag(parse_for_image_source(article), width: '100px')
    %br
  = parse_for_published_date(article)
  %br
  %a{ href: parse_for_url(article) }= parse_for_name(article)
  %br
  = parse_for_description(article).html_safe
