%li.resource
  .item
    %a.resource-title.no-style{ href: article.url }= article.title
    .tags
      = present_datetime(article.published_date)
  - if article.description.present?
    .resource-description= article.description.html_safe
    .clear
