.header
  %h1.share-the-road Feeds
  .actions
    %a.text-blue.no-style{ href: new_feed_path }
      = fa_icon 'plus', text: 'Add Feed'

%ul#feeds
  - if @feeds.count <= 0
    .empty-content
      No feeds found for your account.
      %a{ href: new_feed_path } Add
      one and FEED yourself!
  - else
    = render partial: "feed", collection: @feeds
