.header
  %h1.share-the-road
    Articles for
    %span.underline= @feed[:title]
.subheader
  %a.no-style{ href: feeds_path }
    = fa_icon 'chevron-left', text: 'Back to Feeds'
  .actions
    = render partial: 'sort', locals: { feed: @feed, sorted_by: @sort_by }
  .clear

%ul#articles
  - if @articles.present?
    = render partial: "article", collection: @articles
  - else
    %p
      %center
        %h3
          You're all caught up! Have a pleasant day!
