%h1= "Articles for #{@feed[:title]}"

%a{ href: feed_path(@feed[:id], sort_by: { title: 'asc' }) } Sort by Title
%br
%a{ href: feed_path(@feed[:id], sort_by: { description: 'asc' }) } Sort by Description
%br
%a{ href: feed_path(@feed[:id], sort_by: { published_date: 'desc' }) } Sort by Published Date

%ul#articles
  = render partial: "article", collection: @feed[:articles]
