$mint-green: #8ee4af;
$deep-green: #379683;
$black: #292f33;

.info-banner {
  padding: 20px;
  position: fixed;
  right: 0;
  top: 20px;
  z-index: 999;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: $mint-green;
  color: $black;
}
