// Place all the styles related to the Feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #05386b;
$black: #292f33;

ul {
  padding-left: 0px;
}

li.resource {
  list-style: none;
  border-bottom: 1px solid lightgray;
  padding: 30px;
}

li.resource .content {
  padding-left: 15px;
}

#feeds, #articles {
  margin: 0px;
}

.text-blue {
  color: $blue;
}

.no-image {
  width: 100px;
}

.tall {
  min-height: 100px;
  line-height: 100px;
}

.clear {
  clear: both;
}

.rounded-corners {
  border-radius: 5px;
}

.resource-image {
  width: 100px;
}

@media only screen and (max-width: 560px) {
    .tall {
        min-height: 0px;
        line-height: 0px;
    }

    .resource-image {
      width: 100%;
      margin: 15px;
    }
}
