@import "palette";

body {
  background-color: $nice-light-gray;
  margin: 0px;
  color: $black;
}

.righty-tighty {
  float: right;
}

.lefty-loosey {
  float: left;
}

.hefty-text {
  font-size: 2em;
}

a.no-style {
  text-decoration: none;
}

.header {
  padding: 10px;
  background-color: lightgray;
  margin: 0px;
  background-color: $deep-green;
  color: white;
}

.subheader, .subheader a {
  color: $black;
}

.subheader {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  min-height: 15px;
}

.subheader .actions {
  float: right;
  color: lightgray;
}

.subheader .actions a {
  color: lightgray;
}

.subheader .actions a.selected {
  color: $black;
}

.header .actions {
  float: right;
  padding: 10px;
}

#article {
  min-width: 300px;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-box-shadow: 4px 6px 38px 8px rgba(214,214,214,1);
  -moz-box-shadow: 4px 6px 38px 8px rgba(214,214,214,1);
  box-shadow: 4px 6px 38px 8px rgba(214,214,214,1);
  min-height: 100vh;
  font-family: arial;
  background-color: white;
}

h1.share-the-road {
  display: inline;
}

.underline {
  text-decoration: underline;
}

i.large-and-in-charge {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 25em;
  color: lightgray;
  z-index: -1;
}

.error, #error_explanation {
  background-color: $red;
  color: white;
  padding: 20px;
  border-radius: 5px;
  width: 93%;
  line-height: 20px;
}

.devise-links {
  margin: auto;
  width: 80%;
  padding: 0px 10%;
}
